############################
# Maven / Java
############################
target/
*.class
*.jar
*.war
*.ear

############################
# Logs
############################
*.log
logs/
spring.log

############################
# Eclipse project files
############################
.classpath
.project
.settings/